---
layout: default
title: "Contact"
meta_title: "Contact Randy Walker"
meta_description: "Get in touch with Randy Walker. Reach out with questions about technology leadership, consulting, or speaking engagements."
permalink: /contact
---

{% include layouts/nav/nav-1.html drop_search=true alignment_class="ms-auto" %}

<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="row">
      <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">

        <h2 class="section-title text-center">Get in Touch</h2>
        <p class="text-center">Have a question, want to collaborate, or just want to say hi? Fill out the form below and I'll get back to you.</p>
        <div class="space30"></div>

        <form action="https://formsubmit.co/randy.walker@live.com" method="POST">
          <input type="hidden" name="_subject" value="Contact from thesaltykorean.com">
          <input type="hidden" name="_captcha" value="true">
          <input type="hidden" name="_template" value="table">
          <input type="text" name="_honey" style="display:none">

          <div class="controls">
            <div class="row g-3">
              <div class="col-md-6">
                <div class="form-group">
                  <input type="text" name="name" class="form-control" placeholder="Your Name *" aria-label="Your name" required>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <input type="email" name="email" class="form-control" placeholder="Your Email *" aria-label="Your email" required>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <input type="text" name="_subject" class="form-control" placeholder="Subject" aria-label="Subject">
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <textarea name="message" class="form-control" placeholder="Your Message *" rows="6" aria-label="Your message" required></textarea>
                </div>
              </div>
            </div>
            <div class="space10"></div>
            <div class="text-center">
              <button type="submit" class="btn btn-send btn-default btn-rounded">Send Message</button>
            </div>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>

<div class="wrapper gray-wrapper">
  <div class="container inner">
    <div class="row text-center">
      <div class="col-md-4">
        <div class="icon icon-bg icon-bg-default color-default mb-20"><i class="icofont-location-pin"></i></div>
        <h5>Location</h5>
        <p>Austin, Texas</p>
      </div>
      <div class="col-md-4">
        <div class="icon icon-bg icon-bg-default color-default mb-20"><i class="icofont-social-linkedin"></i></div>
        <h5>LinkedIn</h5>
        <p><a href="https://www.linkedin.com/in/randywalker1/" target="_blank">Connect on LinkedIn</a></p>
      </div>
      <div class="col-md-4">
        <div class="icon icon-bg icon-bg-default color-default mb-20"><i class="icofont-twitter"></i></div>
        <h5>Social</h5>
        <p><a href="https://twitter.com/TheSaltyKorean" target="_blank">@TheSaltyKorean</a></p>
      </div>
    </div>
  </div>
</div>

{% include layouts/footer/footer-1.html %}
