<!-- footer with details v1 -->
<footer role="contentinfo" aria-label="Site footer" class="{% if include.extra_class %} {{include.extra_class}} {% else %} dark-wrapper inverse-text {% endif %}">
  <div class="container inner">
    <div class="row">
      <div class="col-md-12 col-lg-4 text-center text-lg-start">
        <div class="widget">
          <a href="{{site.url}}">
            {% assign logo_type = include.default_logo | default: 'white' %}
            {% if logo_type == 'white' %}
              <img src="{{site.data.general_settings.light_logo_1x}}" srcset="{{site.data.general_settings.light_logo_1x}} 1x, {{site.data.general_settings.light_logo_2x}} 2x" alt="{{site.data.general_settings.title}}" />
            {% elsif logo_type == 'black' %}
              <img src="{{site.data.general_settings.black_logo_1x}}" srcset="{{site.data.general_settings.black_logo_1x}} 1x, {{site.data.general_settings.black_logo_2x}} 2x" alt="{{site.data.general_settings.title}}" />
            {% endif %}
          </a>
          {% if site.data.general_settings.description %}
          <div class="space20"></div>
          <p>{{site.data.general_settings.description}}</p>
          {% endif %}
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="space30 d-lg-none d-xl-none"></div>
      <div class="col-6 col-md-4 col-lg-2 offset-lg-1">
        {% assign external_links = site.data.general_settings.external_links %}
        <div class="widget">
          {% if external_links.title %}
           <h5 class="widget-title">{{external_links.title}}</h5>
          {% endif %}
          <ul class="list-unstyled mb-0">
            {% for links in external_links.links %}
            <li><a href="{{links.url}}">{{links.text}}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
      <div class="col-6 col-md-4 col-lg-3">
        <div class="widget">
          <h5 class="widget-title">Connect</h5>
          <ul class="list-unstyled mb-0">
            {% for social_links in site.data.general_settings.social_accounts.links %}
            <li><a href="{{social_links.url}}" style="white-space: nowrap;"><i class="{{social_links.icon}} me-5"></i> {{social_links.url | split: '.com/' | last | remove: '/' }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- /.widget -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
  <div class="container inner pt-0 pb-40 d-flex align-items-center">
    <p class="mb-0 mr-auto">{{site.data.general_settings.copyright_text}}</p>
    <ul class="social social-mute social-s ms-auto">
      {% for social_links in site.data.general_settings.social_accounts.links %}
       <li><a href="{{social_links.url}}" aria-label="Follow on social media"><i class="{{social_links.icon}}"></i></a></li>
      {% endfor %}
    </ul>
  </div>
</footer>